body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  background: linear-gradient(
  15deg,
  #A54A99 0%,
  #B2639D 40%,
  #5E0FA6 100% 
  );  }

.banner {
  background-color: #f7f7fa;
  color: rgb(63, 0, 69);
  text-align: center;
  padding: 80px 20px;
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

.banner h1 {
  font-weight: 700;
  font-size: 2.8rem;
  margin-bottom: 15px;
}

.banner p {
  font-weight: 400;
  font-size: 1.1rem;
  margin: 0;
}

.promociones {
  padding: 60px 0;
}

.promociones h2 {
  text-align: center;
  font-weight: 600;
  font-size: 2rem;
  color: #ffffff;
}


.promociones .descripcion {
  text-align: center;
  color: #ffffff;
  margin-bottom: 40px;
  font-size: 1rem;
}

.promo-card {
  border: none;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.25s ease, box-shadow 0.25s ease;
  background-color: #fff;
}

.promo-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.15);
}

.promo-card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

.promo-card .card-body {
  padding: 20px;
}

.promo-card h5 {
  font-weight: 600;
  font-size: 1.1rem;
  color: #333;
  margin-bottom: 8px;
}

.promo-card p {
  color: #666;
  font-size: 0.95rem;
  margin-bottom: 10px;
}

/* Boto */
.btn-miaula {
  background: linear-gradient(135deg, #7b2ff7, #f107a3);

  color: white;
  font-weight: 500;
  border: none;
  border-radius: 25px;
  padding: 10px 22px;
  transition: background 0.3s ease;
}

.btn-miaula:hover {
  background: linear-gradient(120deg, #5E0FA6, #A54A99);
  color: #fff;
}

.btn-comentario {
    background: linear-gradient(135deg, #4f46e5, #a21caf);
    color: #fff;
    font-weight: 600;
    border: none;
    padding: 10px 18px;
    border-radius: 12px;
    transition: 0.3s ease;
}

.btn-comentario:hover {
    transform: translateY(-2px);
    box-shadow: 0px 4px 12px rgba(162, 28, 175, 0.4);
    background: linear-gradient(135deg, #4338ca, #9d174d);
}


footer {
  background-color: #ffffff;
  color: #5E0FA6;
  text-align: center;
  padding: 20px;
  font-size: 0.9rem;
  margin-top: 60px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}